.gridContainer {
    display: grid;
    justify-content: space-evenly;
    gap: 0.6rem;

    grid-template-columns: repeat(3, 28rem);
    grid-template-rows: repeat(3, 28rem);

    width: 85rem;
    max-height: auto;
    margin: 4rem auto 0;
}

.gridCell {
    display: grid;
    justify-items: center;

    width: 28rem;
    height: 28rem;

    border: 1px solid #ccc;
    border-radius: 2px;
}

.gridCell:hover {
    background-color: #f0f0f0;
}

.gridCell h1 {
    font-family: "Rodin Pro M", sans-serif;
    font-size: 1.6rem;
    color: #555;
    line-height: 0;
    margin: 2.5rem 0 0 ;
}

.gridCell img {
    width: 14rem;
    height: 20rem;
}

.cardQuantity {
    display: grid;
    position: absolute;
    justify-self: end;
    justify-items: center;

    width: 2rem;
    height: 2rem;
    padding: 0.2rem;

    font-family: "Rodin Pro B", sans-serif;
    font-size: 1.8rem;
    color: #fff;
    background-color: #666;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
    display: grid;
    position: fixed;
    margin: 14rem 51.5rem 0;
    padding: 2rem 2rem 3.8rem;
    justify-content: center;
    
    width: 40rem;
    height: 50rem;
    
    border: 1px solid #000;
    background-color: #fff;
}

.modalContent h1 {
    font-family: "Rodin Pro DB", sans-serif;
    font-size: 2.2rem;
    color: #555;
    line-height: 0;
    margin: 2.5rem auto 0;
}

.modalContent img {
    margin: 3rem auto 0;
    width: 26rem;
    height: 38rem;
}

.modalContent button {
    width: 10rem;
    height: 4rem;

    font-family: "Rodin Pro L", sans-serif;
    font-size: 1.6rem;
}

.buttonLane {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(3, 12rem);

    margin: 3rem auto auto;
}

.returnArrow {
    display: inline;
    position: absolute;
    margin: 3rem 3rem;
    float: left;
    z-index: 3;
    color: #999;
    font-size: 3rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
}

.returnArrow:hover {
    cursor: pointer;
}

.card {
    position: relative;
    
    width: 14rem;
    height: 20rem;
    margin: 0 0.5rem;
    padding: 5rem 0;

    font-family: "Rodin Pro B", sans-serif;
    font-size: 1.2rem;

    text-align: center;

    border: 1px solid #000;
    border-radius: 0.2rem;

    box-sizing: border-box;
}

.card p {
    display: inline-block;

    width: 100%;
    margin: 1.2rem 0;

    padding: 1.6rem 0 1rem;

    background-color: #fff;

    border-width: 3px;
    border-top-style: double;
    border-bottom-style: double;

    box-sizing: border-box;
}

.red {
    background-color: #e60b00;
}

.red p {
    border-color: #e60b00;
}


.blue {
    background-color: #00b2eb;
}

.blue p {
    border-color: #00b2eb;
}

.green {
    background-color: #009921;
}

.green p {
    border-color: #009921;
}

.gold {
    background-color: #ff9d00;
}

.gold p {
    border-color: #ff9d00;
}

.silver {
    background-color: #adada6;
}

.silver p {
    border-color: #adada6;
}

.crystal {
    background-color: #cc91ff;
}

.crystal p {
    border-color: #cc91ff;
}

.rainbow {
    background: linear-gradient(90deg, #e60b00 16.5%, #00b2eb 16.5% 33%, #009921 33% 50%, #ff9d00 50% 66.5%, #adada6 66.5% 83%, #cc91ff 83% 100%);
}

.rainbow p {
    border-color: black;
}

.premium {
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    color: #fff;
}